#i{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 40%;
   
}
.i1{
    width: 50%;
}
div{
    text-align: center;
}
.i2{
    margin-right: 45%;
}
button{
    width: 593px;
    height: 30px;
    margin-left: 24.5%;
    background-color: green;
    border: white;
    color: white;
} 
#c{
    margin-left: 24.5%;
    
}
#b{
   width: 100px;
   background-color: chocolate;
   border-radius: 6%;

} 
#l{
    margin-left:32.5%;
    
}
#d{
    text-align: left;
}

